<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Index</title>
        <style>
        img
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        </style>

    </head>
    <body>

        <img src="https://live.staticflickr.com/65535/50278750317_a5ea564bfc_k.jpg" alt="button" width="1024" height="352">
        <p>
            <a class="nav-link" href="/getcoords"><img src="https://live.staticflickr.com/65535/50278532391_5e5a6dce74_z.jpg" alt="button" width="640" height="60"></a>
        </p>
    </body>
</html>